<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/pages/home/' | relative_url }}">TatakiFlow Cybersecurity Blog</a>
    <nav class="site-nav">
      <a class="page-link" href="{{ '/pages/write-ups/' | relative_url }}">Write-ups</a>
      <a class="page-link" href="{{ '/pages/tools/' | relative_url }}">Tools</a>
      <a class="page-link" href="{{ '/pages/certifications/' | relative_url }}">Certifications</a>
      <a class="page-link" href="{{ '/pages/about/' | relative_url }}">About</a>    
    </nav>
  </div>
</header>